@import url('https://fonts.googleapis.com/css?family=poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
body
{
    background: #0a2a43;
    min-height: 1500px;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
section:before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 10000;
}
    section:after
    {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: #0a2a43;
        z-index: 10000;
        mix-blend-mode: color;
    }

section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
#text{
    position: relative;
    color: #fff;
    font-size: 10em;
    z-index: 1;
}
#hi {
    position: relative;
    left: 500px;
    top: 300px;
    font-size: 5em;
    z-index: 1;
    color: #fff;
    white-space: nowrap;
}
.scrollbar {
    scrollbar-width: auto;
    height: 700px;
    width: 0px;
}
a{
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    left: 800px;
    top: -200px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    overflow: hidden;
    background: linear-gradient(90deg,#0162c8,#55e7fc);
}
span{
    position: absolute;
    background: #fff;
    transform: translate(-50%,-50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}
@keyframes animate
{
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.5;
        position: relative;
        left: 800px;
        top: -200px;
    }
    100%
    {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}